body{
    background-color: rgb(233, 225, 225);
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 4, 7);
}

h3 {
	font-family: 'Courier New', Courier, monospace;
	color: rgba(24, 20, 20, 0.898);
}

.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .search {
    background-color: #f8f9fa;
    padding: 1rem;
    padding-bottom: 10rem;
}

#search-box {
    max-width: 150px;
}

#search-button {
    margin-left: 2px;
    margin-top: 6px;
}

.city-card {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.city-uv {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.weather-card {
    color: #f8f9fa;
    margin: auto;
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
    display: inline-block;
}

.list-group {
    margin-top: 1rem;
}

.list-group-item {
    cursor: pointer;
}

img {
    width: 60px;
    margin: auto;
}
.city-icon {
    width: 125px;
    margin: auto;
}